target

.env

*.iml
.idea

Cargo.lock
casper/tests/wasm/*.wasm
api/src/main/resources/*.wasm

.DS_Store
.vscode

node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/coverage
frontend/*.local
frontend/src/data/api/client
frontend/src/data/api/openapi.yml

frontend/cypress/videos/
frontend/cypress/screenshots/

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/*.suo
frontend/frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
