:root {
  --primary-color-lightest: #7a48b9;
  --primary-color-lighter: #7037ce;
  --primary-color-light: #230e40;
  --primary-color: #1f063e;
  --primary-color-dark: #16042b;
  --primary-color-darker: #110223;

  --success: #5dbb46;
  --warning: #e90e00;

  --light-blue: #799ab9;
  --light-ligh-blue: #dadef4;
  --orange: #e9c300;

  --light-gray: #e1e1e1;
  --light-light-gray: #eeeeee;
  --light-gray-97: #f7f7f7;

  --white: #fff;
  --black: #000;
}
